/** ROSTER **/

.content {
     margin-left: 65px;
}

.side .titlebox .usertext-body .md ul {
			position: absolute;
			display: block;
			margin: 0!important;
			padding: 0!important;
			top: 186px!important;
			left: 0px!important;
			width: 60px;
			height: 940px!important;
			z-index: 499!important;
		}
		.side .titlebox .usertext-body .md ul:last-child {
			clear: left!important;
			overflow: hidden!important;
		}
		.side .titlebox .usertext-body .md ul li {
			float: left!important;
			margin-right: 4px!important;
			margin-top: -1px!important;
			list-style: none!important;
		}
		.side .titlebox .usertext-body .md ul li:first-child {
			height: 40px!important;
		}
		.side .titlebox .usertext-body .md ul li:last-child {
			margin-right: 0!important;
		}
		.side .titlebox .usertext-body .md ul li a {
			display: block!important;
			width: 60px!important;
			height: 60px!important;
			background: transparent url(%%roster2%%) no-repeat!important;
			text-indent: -9999px!important;
		}
			/* BEGIN PLAYERS SIDEBAR */
	                 .side .titlebox .usertext-body .md ul li:nth-child(1) a { background-position: -60px -900px!important; }
                         .side .titlebox .usertext-body .md ul li:nth-child(16) a { background-position: -60px -840px!important; transition: all 0.3s ease-out; }			
                         .side .titlebox .usertext-body .md ul li:nth-child(15) a { background-position: -60px -840px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(14) a { background-position: -60px -60px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(13) a { background-position: -60px -120px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(12) a { background-position: -60px -180px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(11) a { background-position: -60px -240px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(10) a { background-position: -60px -300px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(9) a { background-position: -60px -360px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(8) a { background-position: -60px -420px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(7) a { background-position: -60px -480px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(6) a { background-position: -60px -540px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(5) a { background-position: -60px -600px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(4) a { background-position: -60px -660px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(3) a { background-position: -60px -720px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(2) a { background-position: -60px -780px!important; transition: all 0.3s ease-out; }
			


			.side .titlebox .usertext-body .md ul li:nth-child(14) a:hover { background-position: 0px -60px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(13) a:hover { background-position: 0px -120px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(12) a:hover { background-position: 0px -180px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(11) a:hover { background-position: 0px -240px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(10) a:hover { background-position: 0px -300px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(9) a:hover { background-position: 0px -360px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(8) a:hover { background-position: 0px -420px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(7) a:hover { background-position: 0px -480px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(6) a:hover { background-position: 0px -540px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(5) a:hover { background-position: 0px -600px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(4) a:hover { background-position: 0px -660px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(3) a:hover { background-position: 0px -720px!important; transition: all 0.3s ease-out; }
			.side .titlebox .usertext-body .md ul li:nth-child(2) a:hover { background-position: 0px -780px!important; transition: all 0.3s ease-out; }

			/* END PLAYERS SIDEBAR */		
/** BANNERS **/

.side .titlebox .usertext-body .md ol:first-of-type {
			position: absolute;
			display: block;
			margin: 0!important;
			padding: 0!important;
			top: 14px!important;
			right: 20px!important;
			min-width: 268px!important;
			height: 100px!important;
			z-index: 499!important;
		}
		.side .titlebox .usertext-body .md ol:last-child {
			clear: left!important;
			overflow: hidden!important;
		}
		.side .titlebox .usertext-body .md ol:first-of-type li {
			float: left!important;
			margin-right: 4px!important;
			padding-top: 5px!important;
			list-style: none!important;
		}
		.side .titlebox .usertext-body .md ol:first-of-type li:last-child {
			margin-right: 0!important;
		}
		.side .titlebox .usertext-body .md ol:first-of-type li a {
			display: block!important;
			width: 67px!important;
			height: 100px!important;
			background: transparent url(%%MiamiHeat%%) no-repeat!important;
			text-indent: -9999px!important;
                        opacity:0.7;
		}
		.side .titlebox .usertext-body .md ol:first-of-type li a:hover { opacity:1!important; }
			.side .titlebox .usertext-body .md ol:first-of-type li:nth-child(3) { margin-left: 6px!important; }
			.side .titlebox .usertext-body .md ol:first-of-type li:nth-child(3) a,
			.side .titlebox .usertext-body .md ol:first-of-type li:nth-child(4) a,
			.side .titlebox .usertext-body .md ol:first-of-type li:nth-child(5) a { width: 67px!important; }
			/* RETIRED PLAYERS */
			.side .titlebox .usertext-body .md ol:first-of-type li:nth-child(1) a { background-position: 0px -410px!important; }
			.side .titlebox .usertext-body .md ol:first-of-type li:nth-child(2) a { background-position: 0px -560px!important; }
			/* CHAMPIONSHIPS */
			.side .titlebox .usertext-body .md ol:first-of-type li:nth-child(3) a { background-position: 0px 0px!important; }
			.side .titlebox .usertext-body .md ol:first-of-type li:nth-child(4) a { background-position: 0px -150px!important; }
			.side .titlebox .usertext-body .md ol:first-of-type li:nth-child(5) a { background-position: 0px -300px!important; }
		
/** SIDEBAR **/

.side {
    border-left: 1px solid #98012e;
    border-bottom: 1px solid #98012e;
    background: #F5F5F5;
    margin: 0;
}

.side .spacer {
margin: 0;
}

/* Search form */
form#search input[type="text"] {
  width: 300px;
  padding: 8px 8px 8px 30px;
  background: url(%%spritesheet%%) -392px -204px no-repeat #F5F5F5;
  border: none;
  font-family: sans-serif;
  font-size: 13px;
  text-align: center;
}
#searchexpando.infobar {
  margin: 0;
  border: none;
  border-radius: 0;
  font-size: 11px;
}

/* Sub name */
.titlebox .redditname a {
    display: none;
}

/* Subscribe button */
.fancy-toggle-button .active {
  padding: 2px 8px;
  border: none;
  border-radius: 0;
  font-weight: normal;
}
.fancy-toggle-button .add {
  background: #98012e;
}
.fancy-toggle-button .remove {
  padding: 2px 7px;
  background: #E9E9E9;
  border: none;
  color: gray;
}

/* Sidebar shortcut/dashboard buttons */
.res .titlebox .subButtons {
  padding-top: 7px;
}
.res .RESshortcutside,
.res .RESDashboardToggle {
  padding: 2px 8px;
  background: #98012e;
  border: none;
  border-radius: 0;
  font-weight: normal;
}
.res .RESshortcutside:hover {
  background-color: #98012e;
}
.res .RESshortcutside.remove,
.res .RESDashboardToggle.remove {
  padding: 2px 7px;
  border: none;
  background: #E9E9E9;
  color: gray;
}

.leavemoderator {
background: transparent;
}

/* Hide Creator */
.titlebox .bottom {
   display:none;
}

/** SIDEBAR PIC **/

#header::after {
    line-height: 13px;
    /**top: 502px;**/ /**CAPTION IS 1 LINE**/
    top: 489px; /**CAPTION IS 2 LINES**/
    /**top: 476px;**/ /**CAPTION IS 3 LINES**/
    content: "Miami Heat trade #26, #55, & a future 2nd for 2x National Champion PG Shabazz Napier";  /** SIDEBAR CAPTION **/
    }

#header::after {
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;
}

#header::after {
    color: white;
position: absolute;
right: 0px;
display: block;
width: 288px;
margin: 0 0px;
padding: 4px 6px;
text-align: center;
text-shadow: 0 0 1px black;
background-color: #98012e;
font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
font-size: 12px;
    }


div.side::before {
    display: block;
    min-height: 36px;  /** PADDING-TOP +36 **/
    content: "";
    }

.submit-page div.side::before{
    margin-top:-30px;
}

.border .usertext-body{
    max-width: 60em;
}
div.side {
    padding: 300px 0px 0px 0px; 
    background: url(%%sidebar%%) no-repeat;
}

.content .md table {
  border: 2px solid #0b5abf;
  width: 98%;
}
.content .md table th {
  background: #0b5abf;
  color: white;
  padding: 2px;
  border-color: #0b5abf;
  text-align: center;
}
.content .md table td {
  text-align: center;
}
.content .md tr:nth-child(odd) {
  background: #dadada;
}

/* Hide create info */

.sidebox .spacer {
display: none;
}

/* Social */

.side .md strong [href*="http://facebook.com/miamiheat"] {
display:inline-block; 
height:30px;
width:100px; 
padding:0; 
margin:0; 
background:transparent url(%%MiamiHeat%%) no-repeat;
background-position: -464px -611px!important;
text-decoration:none;
transition: all 0.3s ease;
}

.side .md strong [href*="http://twitter.com/miamiheat"] {
display:inline-block; 
height:30px;
width:100px; 
padding:0; 
margin:0; 
background:transparent url(%%MiamiHeat%%) no-repeat;
background-position: -543px -611px!important;
text-decoration:none;
transition: all 0.3s ease;
}

.side .md strong [href*="http://instagram.com/miamiheat"] {
display:inline-block; 
height:30px;
width:100px; 
padding:0; 
margin:0; 
background:transparent url(%%MiamiHeat%%) no-repeat;
background-position: -624px -611px!important;
text-decoration:none;
transition: all 0.3s ease;
}

.side .md strong:hover [href*="http://facebook.com/miamiheat"] {
transition: all 0.3s ease-out;
background-position: -464px -641px!important;
}

.side .md strong:hover [href*="http://twitter.com/miamiheat"] {
transition: all 0.3s ease-out;
background-position: -543px -641px!important;
}

.side .md strong:hover [href*="http://instagram.com/miamiheat"] {
transition: all 0.3s ease-out;
background-position: -624px -641px!important;
}

.side .md strong {
margin-right: -4px!important;
}


.side .md p {
margin-left: -10px;
width: 300px;
margin-top:0;
margin-bottom: -2px;
}

.side .md h4 {
    font-size: 13px;
letter-spacing: 1px;
text-align: center;
font-weight: 100;
background: #f5a12e;
color: #fff;
padding: 5px 20px;
text-transform: uppercase;
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
position: relative;
left: -10px;
min-width: 260px;
margin-top: 230px;
}

.side .md h2 a,
.side .md h3 a,
.side .md h4 a { color: #fff; }

/* Rules */

.side .md h3 {
    font-size: 13px;
letter-spacing: 1px;
text-align: center;
font-weight: 100;
background: #f5a12e;
color: #fff;
padding: 5px 20px;
text-transform: uppercase;
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
position: relative;
left: -10px;
min-width: 260px;
}

.md td {
text-align: left;
padding: 6px;
font-size: 13px;
border-left: none;
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

/* Footer + debug info
------------------------------------- */
.footer-parent {
  padding: 30px 0;
  margin: 30px 0px 0;
  background: #98012e;
}
.footer {
  border: none;
}
.footer .col {
  border-left: none;
}
.footer .flat-vert.title {
  font-size: 15px;
  text-transform: capitalize;
  color: #BBB;
}
.footer .flat-vert li {
  font-family: Arial, sans-serif;
}
.footer .flat-vert li a:not(.buygold) {
  color: #EEE;
}
.footer-parent .bottommenu {
  color: #BBB;
}
.footer-parent .bottommenu a {
  color: #EEE;
}
.bottommenu.debuginfo {
  margin: 0 10px;
  background: #98012e;
  color: #fff;
}
.bottommenu.debuginfo .icon {
  color: #CCC;
}

/* Sidebar link info */
.linkinfo {
     padding: 0;
    margin-top: 0px;
    background: #fff;
    border: none;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  border-radius: 0;
}
.linkinfo .date { /* post was submitted on ... */
  margin: 0;
  padding: 10px 0 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.linkinfo .date span {
  font-size: 0;
  color: #F5F5F5;
}
.linkinfo .date span:after {
  content: "This post was submitted on ";
  display: inline;
  font-size: 12px;
  font-weight: normal;
  color: #2D2D2D;
}
.linkinfo .score { /* post score (% like it) */
  width: 100px;
  margin: 0;
  padding: 10px 0;
  display: inline-block;
  border: none;
  font-size: 11px;
  text-align: center;
  color: #2D2D2D;
}
.linkinfo .score .number {
  display: block;
  font-size: 20px;
  font-weight: normal;
  color: #001F3F;
}
.linkinfo .score .word { 
  display: none;
}
.linkinfo .upvotes,
.linkinfo .downvotes { /* post upvotes/downvotes */
  width: 99px;
  padding: 9px 0;
  display: inline-block;
  font-size: 12px;
  text-align: center;
}
.linkinfo .downvotes { 
  margin-left: -3px;
} 
.linkinfo .upvotes .number,
.linkinfo .downvotes .number {
  display: block;
  position: relative;
  top: 1px;
  font-size: 20px;
}
.linkinfo .upvotes .word,
.linkinfo .downvotes .word {
  font-size: 11px;
}
.linkinfo .shortlink { /* shortlink */
  margin-top: 0;
  font-size: 0;
  text-align: center;
  visibility: hidden;
}
.linkinfo .shortlink input {
  margin: 5px 0 -5px 0;
  border: none;
  font-size: 11px;
  text-align: center;
  visibility: visible;
  width: 296px;
  height: 30px;
}


.sidebox.create {
        display: none; /* to hide create subreddit button */
}


/* Submit Page 
        --------------------------------------------------------------------------------------------------------------------------------------------------*/

.submit-page .content form ul.tabmenu { margin-bottom: 4px; }
	.submit-page .content form ul.tabmenu li.selected a {
		font-size: 12px;
		padding: 6px 18px!important;
		text-transform: uppercase;
	}
	.submit-page .content form ul.tabmenu li a.text-button, .submit-page .content form ul.tabmenu li a.link-button {
		font-weight: bold;
		padding: 3px 18px;
		color: #000;
		border: 1px solid #D7D7D7;
		background: #F0F0F0;
		text-transform: uppercase;
                font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	}
	.submit-page .content form ul.tabmenu li.selected a.text-button, .submit-page .content form ul.tabmenu li.selected a.link-button {
		font-weight: bold;
		color: #FFF;
		border: none;
		background: #98012e;
	}
	.submit-page .formtabs-content #text-desc.infobar, .submit-page .formtabs-content #link-desc.infobar {
		padding: 10px;
		color: #646464;
		background: #F0F0F0;
	}
	.submit-page .formtabs-content { border-top: 4px solid #98012e; }
	.submit-page .formtabs-content span.title { text-transform: capitalize; }
	.submit-page .formtabs-content #url-field span.title { text-transform: uppercase; }
	.submit-page .formtabs-content #title-field, .submit-page .formtabs-content #text-field, .submit-page .formtabs-content #url-field, .submit-page .formtabs-content #reddit-field, .roundfield {
		color: #000;
		background: #E6E6E6;
                border-radius: 0;
	}
	.submit-page .content form .info-notice {
		color: #000;
		border: 1px solid #E6E6E6;
		background: #E6E6E6;
	}

/* Comment Pages
        --------------------------------------------------------------------------------------------------------------------------------------------------*/

.content .md table th {
background: #000;
color: white;
padding: 2px;
border-color: #000;
text-align: center;
}

.content .md table {
border: 2px solid #000;
}

.content .md table th {
background: #000;
color: white;
padding: 2px;
border-color: #000;
text-align: center;
font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

.content .md tr {
        transition: all 0.3s ease-out;
}

.content .md tr:hover {
        transition: all 0.3s ease-out;
        background: #ac3357;
        color: #fff;
}

a {
color: #98012e;
}

.comment .md p > a:visited {
color: #78012e !important;
}

a.author {
color: #98012e;
}

.link .usertext .md {
padding: 0 5px;
background-color: white;
border: 1px solid #000;
border-radius: 0px;
}

.usertext button {
margin: 5px 5px 10px 0;
background: #98012e;
color: white;
border: none;
height: 28px;
}

.res-commentBoxes.res-commentBoxes-rounded .comment {
border-radius: 0px !important;
}

.commentarea {
  padding: 5px;
}

/* Comments header 
        --------------------------------------------------------------------------------------------------------------------------------------------------*/
.commentarea .panestack-title {
  border: none;
}
.commentarea .panestack-title .title {
  margin: 10px 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
}

/* Menu 
        --------------------------------------------------------------------------------------------------------------------------------------------------*/
.commentarea .menuarea {
  margin: 8px 10px 10px 10px;
}
.commentarea .menuarea .drop-choices.lightdrop {
  background: #fff;
}
.commentarea .menuarea .drop-choices.lightdrop form {
  padding-left: 0;
}

/* Sticky post link 
        --------------------------------------------------------------------------------------------------------------------------------------------------*/
.commentarea .toggle.set_subreddit_sticky-button a,
.commentarea .toggle.set_subreddit_sticky-button .error {
  color: #27AE60;
}

/* Permalink infobar/comment */
.commentarea > .menuarea + form + .infobar {
  margin: 5px 10px;
  border: none;
  font-family: sans-serif;
}
.usertext.border .usertext-body {
  margin-right: 7px;
}

/* Gold option container */
.commentarea .gold-accent.comment-visits-box {
  margin: 0 10px 10px;
  border-radius: 0;
}

/* Comment area */
body:not(.related-page) .commentarea > .sitetable {
  margin-right: 10px;
}

/* No comments message */
.commentarea #noresults {
  padding: 0;
  margin-left: 10px;
  border: none;
}



/*Makes header the image
*************************************************************************************************************/

#header, .res-nightmode #header { 
    padding-bottom: 0;
    background: transparent;
    border: none;
    margin-left: auto;
    margin-right: auto;
}
#header-bottom-left, .res-nightmode #header-bottom-left {
    background: url(%%banner3%%);
width: 100%;
    height: 167px;
    overflow: hidden;
    border-bottom: 1px solid #98012e;
}

#header-img.default-header {
    width: 60px;
    height: 100px;
    margin-top: 72px;
    background: url(%%alien%%);
}

#header-img.default-header:hover {
    background-position: 0px -100px!important;
}


#header-img {
    width: 60px;
    height: 100px;
    margin-top: 72px;
    background: url(%%alien%%);
}

#header-img:hover {
    background-position: 0px -100px!important;
}


/*subreddit name text 
        --------------------------------------------------------------------------------------------------------------------------------------------------*/

.pagename {
margin-left: -200px;
}

#header .pagename a {
    display: block;
    visibility: visible!important;
    position: absolute;
    left: 50%;
    margin-left: -97px;
    margin-top: 29px;
    z-index: 99;
    background-image: url(%%MiamiHeat%%);
    background-position: -535px -161px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 204px;
    height: 128px;
    top: 6px;
}

#header .pagename a:hover {
    background-image: url(%%MiamiHeat%%);
    background-position: -535px -29px;
}

/*upvote and downvote arrows
--------------------------------------------------------------------------------------------------------------------------------------------------*/

.arrow.up { 
	background-image: url(%%MiamiHeat%%);
	background-position: -377px -25px;
    height: 25px;
    width: 21px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.arrow.down { 
	background-image: url(%%MiamiHeat%%);
	background-position: -375px 0px;
    height: 25px;
    width: 21px;
}

.arrow.upmod { 
	background-image: url(%%MiamiHeat%%);
	background-position: -356px -25px;
    height: 25px;
    width: 21px;
    margin-top: 2px;
    -webkit-animation: bounce 3s;
	-moz-animation: bounce 3s;
	animation: bounce 3s;
}

.arrow.downmod { 
	background-image: url(%%MiamiHeat%%);
	background-position: -354px 0;
    height: 25px;
    width: 21px;
    -webkit-animation: wiggle 1s;
	-moz-animation: wiggle 1s;
	animation: wiggle 1s;
}

/*Upvote Bounce
                -----------------------------------------------------------------*/

/*{
  height: 100%;
  
    background-image:
    background-image: url(%%MiamiHeat%%);
    background-position: -356px -25px;
  
  background-position: 50% 50%, 50% calc(50% + .3em);
  background-size: 2em 2em, 3em 1em;
  background-repeat: no-repeat;
  
  animation: bounce 2s;
  }

@keyframes bounce {
  0% {
    background-position: 50% calc(50% - 4em), 50% calc(50% + .4em);
    background-size: 2em 2em, 1em 1em;
    }
  40% {
    background-position: 50% 50%, 50% calc(50% + .3em);
    background-size: 2em 2em, 3em 1em;
    }
  45% {
    background-position: 50% 50%, 50% calc(50% + .3em);
    background-size: 2em 1.5em, 3em 1em;
    }
  50% {
    background-position: 50% 50%, 50% calc(50% + .3em);
    background-size: 2em 1em, 3em 1em;
    }
  100% {
    background-position: 50% calc(50% - 4em), 50% calc(50% + .3em);
    background-size: 2em 2em, 1em 1em;
    }
  }*/

/* Downvote hover
--------------------------------------------------------------------------------------------------------------------------------------------------*/
.arrow.down:hover:before {
position: absolute;
display: block;
z-index: 1000;
padding: 5px;
border: 0px solid #000;
background: #000;
content: " Only downvote if this is a troll post.";
text-align: center;
font-size: 10px;
color: #fff;
margin-left: 25px;
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.entry {
min-height: 70px;
}

.link .tagline, .self .tagline {
height: 32px;
}

#siteTable div.thing ul {
    visibility: hidden;
}
#siteTable div.thing:hover ul {
    visibility: visible;
}
#siteTable div.thing ul li:first-child {
    visibility: visible!important;
}

.entry .buttons li a {
    padding: 0 1px;
    color: #999;
    font-weight: 400;
    font-size: 10px;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}
.entry .buttons li a:hover {
    color: #f5a12e;
    text-decoration: none;
}
.link .entry li .comments {
    visibility: visible;
    color: #98012e;
    font-weight: bold;
    font-size: 10px;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

body>.content .link .midcol {
margin-top: 0px !important;
}

@keyframes wiggle {
	0% {transform:rotate(15deg);}
	50% {transform:rotate(-15deg);}
	100% {transform:rotate(15deg);}
}

.midcol[style] {
    width: 30px !important;
}
.compressed .midcol {
    width:  21px
}
.comment .midcol {
    width: 23px !important;
}

.res-nightmode .comment .midcol {
    width: 15px;
}
.res-nightmode .midcol[style] {
    width: 21px
}
.res-nightmode .compressed .midcol {
    width: 21px
}

.link .score {
   font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

.link .score.likes {
	color:#98012e;
}
.link .score.dislikes {
	color:black;
}

.link .rank {display: none;}

.link .rank{
text-align: center;
}

.listing-page .linklisting .thing{border-left: 5px #dcdcdc solid!important;}
.listing-page .linklisting .thing.odd:hover{border-left: 5px #98012e solid!important;}
.listing-page .linklisting .thing.even:hover{border-left: 5px #f5a12e solid!important;}

body > .content .link .midcol { margin-top:10px;}

.link:hover {
     -webkit-transition: margin 0.5s ease-out; 
     -moz-transition: margin 0.5s ease-out; 
     -o-transition: margin 0.5s ease-out; 
     margin: 2px;
     margin-right:308px;
} 
 
/*RES restyles 
--------------------------------------------------------------------------------------------------------------------------------------------------*/

#RESShortcutsEditContainer {
display: none;

}

#sr-header-area {
background-color: #313131;
white-space: nowrap;
text-transform: uppercase;
border-bottom: 1px solid black;
font-size: 90%;
height: 18px;
line-height: 18px;
}
.dropdown.srdrop .selected {
color:white;
}
#sr-header-area a {
color: white;
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
letter-spacing: 1px;
}

#sr-more-link {
background-color: #98012e;
}


/* User menu
------------------------------------- */
#header-bottom-right {
  padding: 0 15px!important;
  top: 145px!important;
  height: 40px!important;
  right: 0;
  bottom: 0;
  border-top: 1px solid #98012e;
  background: #313131;
  border-radius: 0;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 42px;
  text-transform: uppercase;
}
#header-bottom-right a {
  color: #EEE;
}
#header-bottom-right .user,
#header-bottom-right .userkarma {
  color: #AAA;
}
#header-bottom-right .separator {
  visibility: hidden;
}

/* User menu toggle 
--------------------------------------------------------------------------------------------------------------------------------------------------*/
.res #userbarToggle {
  width: 18px;
  height: 40px;
  padding-right: 6px;
  background-color: #98012e;
  margin-left: 5px;
  border: none;
  border-radius: 0;
  line-height: 38px;
  color: #AAA;
}
.res #userbarToggle.userbarShow {
  width: 20px;
  padding-right: 9px;
  left: -5px;
}

#srLeftContainer, #RESStaticShortcuts, #RESShortcuts, #srDropdown { 
background:none !important; 
}

/* Background Logo 
--------------------------------------------------------------------------------------------------------------------------------------------------*/
body {
	background: url(%%back%%) no-repeat fixed center center;
}

/*header - tab menu 
--------------------------------------------------------------------------------------------------------------------------------------------------*/

#header-bottom-left .tabmenu {
  margin: 0;
  position: absolute;
  top: 170px;
  left: 55px;
  text-align: center;
}
#header-bottom-left .tabmenu li {
  margin: 0;
}
#header-bottom-left .tabmenu li.selected a {
  border: none;
  color: #EEE;
}
#header-bottom-left .tabmenu li a {
  background: transparent;
  color: #f5a12e;
  font-size: 10px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#header-bottom-left .tabmenu li a:hover {
  color: #98012e;
}
/*replace "readers" with something else
--------------------------------------------------------------------------------------------------------------------------------------------------*/

div.titlebox span.word {
	display: none
}
div.titlebox span.number:after {
	content: " Heat fans"
}

/* moderator box
--------------------------------------------------------------------------------------------------------------------------------------------------*/

.sidecontentbox .content {
margin: 0;
padding: 5px;
border: none;
font-size: larger;
list-style: none;

}

.sidecontentbox {
        border: 0;
        padding: 20px;
}

.usertext-body table, .usertext-body table tr, .usertext-body table thead, .usertext-body tbody, .usertext-body th {
     border: 1px;
}

.usertext.border .usertext-body {
    background-color: #FF9F00 opacity:0.8;
    border: 1px;
    color: black;    
}
div.titlebox {
        border: 0;
        padding: 10px 2px 10px 10px;
}

.titlebox form.toggle {
        background: none;
        font-size: 10px;
        color: black;
}

/* Restyle h2 
--------------------------------------------------------------------------------------------------------------------------------------------------*/

.usertext-body .md {
	overflow: visible;
}
.side .usertext-body .md h2 {
font-size: 13px;
letter-spacing: 1px;
text-align: center;
font-weight: 100;
background: #f5a12e;
color: #fff;
padding: 5px 20px;
text-transform: uppercase;
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
position: relative;
left: -10px;
min-width: 260px;
margin-top: 15px;
}


/*link stuff */
.thing .title { color:#250517 !important }
.thing .title:visited { color:#6D7B8D !important } 
.thing .title.click { color:#E56717 !important}  
.thing .title.loggedin { color:#2B1B17  !important} 
.thing .title.loggedin:visited { color:#6D7B8D !important} 
.thing .title.loggedin.click { color:#E56717  !important}  
.thing .title.loggedin.click:visited { color:#6D7B8D  !important} 
.link.last-clicked { border:0px gray; }

/* announcement box 
--------------------------------------------------------------------------------------------------------------------------------------------------*/

body > div.content {
margin-top: 4.5em;
}

.titlebox form {
position: static
}

.titlebox .usertext-body .md h6 {
display: inline-block;
position: absolute;
top: 193px;
background-color: #fff;
color: #555;
margin-left: 75px;
margin-right: 321px;
height: 30px;
left: 0;
right: 0;
line-height: 30px;
padding-left: 15px;
overflow: hidden;
font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
z-index: 99;
border: 1px solid #f5a12e;
}

.md h6 a::before {

color: #fff;
padding-right: .6em;
margin-right: .6em;
}

.side a {
color: #98012e;
}


/* Stickied
--------------------------------------------------------------------------------------------------------------------------------------------------*/

.stickied {
    background-color:seagreen;
}
.stickied .title {
    color:green!important;
}

/* This is what makes the Tables(schedule/standings)
*********************************/
.md table, .res-nightmode .md table {
    font: normal 15px tahoma, verdana, sans-serif;
    margin-top: 7px;
    margin-bottom: 10px;
    margin: 0px auto;
    width: 92%;
    }

.md table th {
    background: #dcdcdc;
    color: black;
    text-align: center;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.usertext thead{
 background: #015595;
    background: -moz-linear-gradient(top,#98012e,#000);
    background: -webkit-linear-gradient(top,#98012e,#000);
    background: -o-linear-gradient(top,#98012e,#000);
    background: -ms-linear-gradient(top,#98012e,#000);
    background: linear-gradient(top,#98012e,#000);
    color:#fff;
    font-size:12px;
    position:relative;
}

.usertext table a{
          color: #005695;
          font-size: 11px;
          position: relative;
          text-transform: capitalize;
}

.side .md table {
width: 299px;
margin-left: -10px;
}

.side .md table td em {
display: block;
text-align: left;
font-size: 13px;
}

.side .md table td em a {
width: 26px;
float: left;
}

/* Flair
-------------------------------------------------------------------------------------------------------------------------------*/
.flairselector.drop-choices.active { border:solid #98012e;}
.flairselector {box-shadow: 2px 2px 2px #2C180D; background-color:#DADADA;}
.flairselector h2 { background-color:#F5A12E; color: #000; text-transform:uppercase;border: solid #98012e; box-shadow: 2px 2px 2px #2C180D;}
.flairselector li { border: solid 0.2px #98012e;}
.flairselector form {}
.flairoptionpane{overflow:auto; max-height:200px;}

.flair:hover { 
             width: auto; 
             border-width: 1px;
             border-color: whitesmoke;
             line-height: 25px;
             border-color: #ddd;
             }
.flair {
       border: none !important;
       top:20px;
       padding:0px;
       background: url(%%spritesheet%%) no-repeat;
       display:inline-block;
       vertical-align: middle;
       text-indent: -999em;
        margin-right: 3px;
       border-radius: 3px;
       -moz-border-radius: 3px;
       -webkit-border-radius: 3px
}

a[href$="/r/Sixers"]:before, 
a[href="/Sixers"]:before, 
.flair-76ers{ background-position: 0 0; min-width: 16px; height: 20px; } 

a[href$="/r/sixers"]:before, 
a[href="/SixersB"]:before, 
.flair-76ersC{ background-position: 0 -70px; min-width: 20px; height: 20px; } 

a[href="/ABC"]:before, 
.flair-ABC{ background-position: 0 -140px; width: 15px; height: 15px; } 

a[href="/Allen"]:before, 
.flair-Allen{ background-position: 0 -198px; min-width: 18px; height: 25px; } 

a[href="/Argentina"]:before, 
.flair-Argentina{ background-position: -399px -696px; min-width: 14px; height: 20px; }

a[href="/Australia"]:before, 
a[href="/australia"]:before, 
.flair-Australia{ background-position: 0px -560px; min-width: 28px; height: 25px; }
.flair-Australia: hover{ text-indent: 30px;}

a[href="/Battier"]:before, 
.flair-Battier{ background-position: 0 -269px; min-width: 18px; height: 25px; } 

a[href="/Beasley"]:before, 
.flair-Beasley{ background-position: 0 -340px; min-width: 17px; height: 25px; } 

a[href="/Birdman"]:before, 
.flair-Birdman{ background-position: 0 -407px; min-width: 17px; height: 28px; } 

a[href$="/r/CharlotteBobcats"]:before, 
a[href="/Bobcats"]:before, 
.flair-Bobcats{ background-position: 0 -485px; min-width: 20px; height: 20px; } 

a[href="/JJ2"]:before,
.flair-JJ2{ background-position: 0 -1530px; min-width: 20px; height: 25px; }
.flair-JJ2: hover{ text-indent: 27px;} 

a[href$="/r/charlottebobcats"]:before, 
a[href="/BobcatsB"]:before, 
.flair-BobcatsC{ background-position: 0 -555px; min-width: 28px; height: 20px; } 

a[href="/Bosh"]:before, 
.flair-Bosh{ background-position: 0 -619px; min-width: 18px; height: 25px; } 

a[href$="/r/MkeBucks"]:before, 
a[href="/Bucks"]:before, 
.flair-Bucks{ background-position: 0 -695px; min-width: 22px; height: 20px; } 

a[href$="/r/mkebucks"]:before, 
a[href="/BucksB"]:before, 
.flair-BucksC{ background-position: 0 -765px; min-width: 17px; height: 20px; } 

a[href$="/r/ChicagoBulls"]:before, 
a[href$="/r/chicagobulls"]:before, 
a[href="/bulls"]:before, 
a[href="/Bulls"]:before, 
.flair-Bulls{ background-position: 0 -835px; min-width: 22px; height: 20px; } 

a[href="/Burnie"]:before, 
.flair-Burnie{ background-position: -290px -1955px; min-width: 14px; height: 25px; } 

a[href$="/r/ClevelandCavs"]:before, 
a[href="/Cavs"]:before, 
.flair-Cavs{ background-position: 0 -905px; min-width: 25px; height: 20px; } 

a[href$="/r/clevelandcavs"]:before, 
a[href="/CavsB"]:before, 
.flair-CavsC{ background-position: 0 -975px; width: 32px; height: 20px; } 

a[href$="/r/BostonCeltics"]:before,
a[href$="/r/Bostonceltics"]:before,
a[href="/Celtics"]:before,
.flair-Celtics{ background-position: 0 -1045px; min-width: 18px; height: 20px; } 

a[href$="/r/bostonceltics"]:before,
a[href="/CelticsB"]:before,
.flair-CelticsC{ background-position: 0 -1115px; min-width: 20px; height: 20px; } 

a[href="/China"]:before, 
a[href="/china"]:before, 
.flair-China{ background-position: 0px -495px; min-width: 30px; height: 25px; }
.flair-China: hover{ text-indent: 32px;}

a[href$="/r/LAClippers"]:before,
a[href="/Clippers"]:before,
.flair-Clippers{ background-position: 0 -1185px; min-width: 28px; height: 20px; } 

a[href$="/r/laclippers"]:before,
a[href="/ClippersB"]:before,
.flair-ClippersC{ background-position: 0 -1255px; min-width: 19px; height: 20px; } 

a[href="/Cole"]:before,
.flair-Cole{ background-position: 0 -1319px; min-width: 18px; height: 25px; } 

a[href$="/r/MiamiDolphins"]:before,
a[href$="/r/miamidolphins"]:before,
a[href="/Dolphins"]:before,
.flair-Dolphins{ background-position: 0 -1395px; min-width: 28px; height: 20px; } 

a[href$="/r/Miamidolphins"]:before,
a[href="/DolphinsB"]:before,
.flair-DolphinsC{ background-position: 0 -1465px; min-width: 26px; height: 20px; } 

a[href="/Douglas"]:before,
.flair-Douglas{ background-position: 0 -1530px; min-width: 16px; height: 25px; } 

a[href="/ESPN"]:before,
.flair-ESPN{ background-position: 0 -1605px; width: 35px; height: 15px; } 

a[href="/Eastern"]:before,
a[href="/east"]:before,
.flair-Eastern{ background-position: 0 -1670px; min-width: 19px; height: 20px; } 

a[href="/FIU"]:before,
.flair-FIU{ background-position: -182px -1955px; min-width: 20px; height: 20px; } 

a[href="/Flattop"]:before,
.flair-Flattop{ background-position: 0 -1735px; min-width: 16px; height: 25px; } 

a[href="/Flattop2"]:before,
.flair-Flattop2{ background-position: 0 -1810px; min-width: 17px; height: 28px; } 

a[href="/Flattop3"]:before,
.flair-Flattop3{ background-position: 0 -1890px; min-width: 18px; height: 35px; } 

a[href="/Floridians"]:before,
.flair-Floridians{ background-position: -85px 0; min-width: 19px; height: 25px; } 

a[href="/FloridiansPalm"]:before,
.flair-FloridiansPalm{ background-position: -85px -75px; min-width: 13px; height: 20px; } 

a[href="/FSU"]:before,
.flair-FSU{ background-position: -398px -350px; min-width: 25px; height: 25px; } 

a[href="/Gators"]:before,
.flair-Gators{ background-position: -290px -1918px; min-width: 30px; height: 20px; } 

a[href$="/r/MemphisGrizzlies"]:before,
a[href="/Grizzlies"]:before,
.flair-Grizzlies{ background-position: -85px -145px; min-width: 21px; height: 20px; } 

a[href$="/r/memphisgrizzlies"]:before,
a[href="/GrizzliesB"]:before,
.flair-GrizzliesC{ background-position: -85px -215px; min-width: 21px; height: 20px; } 

a[href="/Hardaway"]:before,
.flair-Hardaway{ background-position: -85px -285px; min-width: 20px; height: 28px; } 

a[href="/Hawks"]:before,
a[href$="/r/atlantahawks"]:before,
.flair-Hawks{ background-position: -85px -363px; min-width: 26px; height: 20px; } 

a[href="/HawksB"]:before,
a[href$="/r/AtlantaHawks"]:before,
.flair-HawksC{ background-position: -87px -434px; min-width: 19px; height: 20px; } 

a[href="/HEAT"]:before,
.flair-Heat{ background-position: -85px -503px; min-width: 47px; height: 20px; } 

a[href$="/r/CharlotteHornets"]:before,
a[href="/Hornets"]:before,
.flair-Hornets{ background-position: -85px -573px; min-width: 21px; height: 20px; } 

a[href$="/r/charlottehornets"]:before,
a[href="/HornetsB"]:before,
.flair-HornetsC{ background-position: -85px -643px; min-width: 19px; height: 20px; } 

a[href$="/r/Charlottehornets"]:before,
a[href="/HornetsC"]:before,
.flair-HornetsE{ background-position: -85px -713px; min-width: 24px; height: 20px; } 

a[href$="/r/Heat"]:before,
a[href="/Heat"]:before,
.flair-HotHeat{ background-position: -85px -783px; min-width: 18px; height: 20px; } 

a[href$="/r/heat"]:before,
.flair-HotHeatB{ background-position: -85px -853px; min-width: 14px; height: 15px; } 

a[href="/J-Ham"]:before,
.flair-J-Ham{ background-position: -83px -913px; min-width: 16px; height: 25px; } 

a[href="/JJ"]:before,
.flair-JJ{ background-position: -84px -985px; min-width: 20px; height: 25px; } 

a[href$="/r/UtahJazz"]:before,
a[href="/Jazz"]:before,
.flair-Jazz{ background-position: -85px -1058px; min-width: 18px; height: 20px; } 

a[href$="/r/utahjazz"]:before,
a[href="/JazzB"]:before,
.flair-JazzB{ background-position: -85px -1128px; min-width: 30px; height: 20px; } 

a[href="/KaBoom"]:before,
.flair-KaBoom{ background-position: -85px -1198px; min-width: 47px; height: 25px; } 

a[href$="/r/Kings"]:before,
a[href="/Kings"]:before,
.flair-Kings{ background-position: -85px -1273px; min-width: 14px; height: 20px; } 

a[href$="/r/kings"]:before,
a[href="/KingsB"]:before,
.flair-KingsB{ background-position: -85px -1343px; min-width: 17px; height: 20px; } 

a[href$="/r/NYKnicks"]:before,
a[href="/Knicks"]:before,
.flair-Knicks{ background-position: -85px -1413px; min-width: 20px; height: 20px; } 

a[href$="/r/nyknicks"]:before,
a[href="/KnicksB"]:before,
.flair-KnicksC{ background-position: -85px -1483px; min-width: 20px; height: 20px; } 

a[href$="/r/Lakers"]:before,
a[href="/Lakers"]:before,
.flair-Lakers{ background-position: -85px -1553px; min-width: 24px; height: 20px; } 

a[href$="/r/lakers"]:before,
a[href="/LakersB"]:before,
.flair-LakersC{ background-position: -85px -1623px; min-width: 32px; height: 20px; } 

a[href="/Larry"]:before,
.flair-Larry{ background-position: -85px -1693px; min-width: 10px; height: 20px; } 

a[href="/Larrys"]:before,
.flair-Larrys{ background-position: -85px -1763px; min-width: 36px; height: 35px; } 

a[href="/Lebron"]:before,
.flair-Lebron{ background-position: -84px -1844px; min-width: 20px; height: 25px; } 
.flair-Lebron:hover { text-indent: 22px;}

a[href="/LelBron"]:before,
.flair-LelBron{ background-position: -83px -1914px; min-width: 21px; height: 25px; } 

a[href="/LelWade"]:before,
.flair-LelWade{ background-position: -182px 0; min-width: 17px; height: 25px; } 

a[href="/Lewis"]:before,
.flair-Lewis{ background-position: -182px -65px; min-width: 18px; height: 25px; } 

a[href="/MH"]:before,
.flair-MH{ background-position: -182px -140px; min-width: 32px; height: 20px; } 

a[href$="/r/MiamiMLS"]:before,
a[href$="/r/miamimls"]:before,
a[href="/MiamiMLS"]:before,
.flair-MLSMiami{ background-position: -182px -210px; min-width: 21px; height: 20px; } 

a[href$="/r/OrlandoMagic"]:before,
a[href="/Magic"]:before,
.flair-Magic{ background-position: -182px -280px; width: 33px; height: 20px; } 

a[href$="/r/orlandomagic"]:before,
a[href="/MagicB"]:before,
.flair-MagicC{ background-position: -182px -350px; width: 38px; height: 20px; } 

a[href$="/r/LetsGoFish"]:before,
a[href$="/r/letsgofish"]:before,
a[href="/Marlins"]:before,
.flair-Marlins{ background-position: -182px -420px; min-width: 20px; height: 20px; } 

a[href$="/r/Letsgofish"]:before,
a[href="/MarlinsB"]:before,
.flair-MarlinsC{ background-position: -182px -490px; min-width: 21px; height: 20px; } 

a[href$="/r/Mavericks"]:before,
a[href="/Mavericks"]:before,
.flair-Mavericks{ background-position: -182px -560px; min-width: 16px; height: 20px; } 

a[href$="/r/mavericks"]:before,
a[href="/MavericksB"]:before,
.flair-MavericksC{ background-position: -182px -630px; min-width: 20px; height: 20px; } 

a[href$="/r/Miami"]:before,
a[href$="/r/miami"]:before,
a[href="/Miami"]:before,
.flair-Miami{ background-position: -182px -700px; min-width: 58px; height: 17px; } 

a[href="/MiamiHeat"]:before,
.flair-MiamiHeat{ background-position: -182px -767px; min-width: 48px; height: 20px; } 

a[href="/Mourning"]:before,
.flair-Mourning{ background-position: -182px -837px; min-width: 20px; height: 28px; } 

a[href="/NBA"]:before,
a[href$="/r/NBA"]:before,
a[href$="/r/nba"]:before,
.flair-NBA{ background-position: -182px -915px; min-width: 9px; height: 20px; } 

a[href$="/r/Nba"]:before,
a[href="/NBAb"]:before,
.flair-NBAc{ background-position: -182px -985px; width: 51px; height: 20px; } 

a[href="/NBAtv"]:before,
a[href="/Nbatv"]:before,
a[href="/nbatv"]:before,
.flair-NBAtv{ background-position: -182px -1055px; width: 22px; height: 15px; } 

a[href$="/r/GoNets"]:before,
a[href="/Nets"]:before,
.flair-Nets{ background-position: -182px -1120px; min-width: 20px; height: 20px; } 

a[href$="/r/gonets"]:before,
a[href="/NetsB"]:before,
.flair-NetsC{ background-position: -182px -1190px; min-width: 20px; height: 20px; } 

a[href$="/r/Gonets"]:before,
a[href="/NetsC"]:before,
.flair-NetsE{ background-position: -182px -1260px; min-width: 20px; height: 20px; } 

a[href$="/r/DenverNuggets"]:before,
a[href="/Nuggets"]:before,
.flair-Nuggets{ background-position: -182px -1330px; min-width: 20px; height: 20px; } 

a[href$="/r/denvernuggets"]:before,
a[href="/NuggetsB"]:before,
.flair-NuggetsC{ background-position: -182px -1400px; min-width: 32px; height: 20px; } 

a[href="/Oden"]:before,
.flair-Oden{ background-position: -183px -1467px; min-width: 19px; height: 25px; } 

a[href$="/r/Pacers"]:before,
a[href="/Pacers"]:before,
.flair-Pacers{ background-position: -182px -1540px; min-width: 22px; height: 20px; } 

a[href$="/r/pacers"]:before,
a[href="/PacersB"]:before,
.flair-PacersC{ background-position: -182px -1610px; min-width: 20px; height: 20px; } 

a[href$="/r/FloridaPanthers"]:before,
a[href="/Panthers"]:before,
.flair-Panthers{ background-position: -182px -1680px; min-width: 20px; height: 20px; } 

a[href$="/r/floridapanthers"]:before,
a[href="/PanthersB"]:before,
.flair-PanthersC{ background-position: -182px -1750px; min-width: 20px; height: 20px; } 

a[href$="/r/NOLAPelicans"]:before,
a[href="/Pelicans"]:before,
.flair-Pelicans{ background-position: -182px -1820px; width: 40px; height: 20px; } 

a[href$="/r/nolapelicans"]:before,
a[href="/PelicansB"]:before,
.flair-PelicansC{ background-position: -182px -1890px; min-width: 17px; height: 20px; } 

a[href$="/r/DetroitPistons"]:before,
a[href="/Pistons"]:before,
.flair-Pistons{ background-position: -290px 0; min-width: 24px; height: 20px; } 

a[href$="/r/detroitpistons"]:before,
a[href="/PistonsB"]:before,
.flair-PistonsB{ background-position: -290px -70px; min-width: 20px; height: 20px; } 

a[href$="/r/RipCity"]:before,
a[href="/Portland"]:before,
.flair-Portland{ background-position: -290px -140px; min-width: 18px; height: 20px; } 

a[href$="/r/ripcity"]:before,
a[href="/PortlandB"]:before,
.flair-PortlandC{ background-position: -290px -210px; min-width: 45px; height: 20px; } 

a[href$="/r/TorontoRaptors"]:before,
a[href="/Raptors"]:before,
.flair-Raptors{ background-position: -290px -280px; min-width: 14px; height: 20px; } 

a[href$="/r/torontoraptors"]:before,
a[href$="/r/Torontoraptors"]:before,
a[href="/RaptorsB"]:before,
.flair-RaptorsC{ background-position: -290px -350px; min-width: 20px; height: 20px; } 

a[href="/RedHeat"]:before,
.flair-RedHeat{ background-position: -290px -420px; min-width: 48px; height: 20px; } 

a[href$="/r/HEAT"]:before,
a[href="/RedHotHeat"]:before,
.flair-RedHotHeat{ background-position: -290px -490px; min-width: 19px; height: 20px; } 

a[href="/RedHotHeatB"]:before,
.flair-RedHotHeatB{ background-position: -290px -560px; min-width: 14px; height: 15px; } 

a[href$="/r/heat"]:before,
.flair-RedHotHeatB{ background-position: -290px -560px; min-width: 14px; height: 15px; } 

a[href="/Rio"]:before,
.flair-Rio{ background-position: -290px -619px; min-width: 19px; height: 25px; } 

a[href="/Riley"]:before,
.flair-Riley{ background-position: -400px -904px; min-width: 18px; height: 25px; } 

a[href="/Russia"]:before,
.flair-Russia{ background-position: -399px -625px; min-width: 26px; height: 20px; } 

a[href$="/r/Rockets"]:before,
a[href="/Rockets"]:before,
.flair-Rockets{ background-position: -290px -695px; min-width: 15px; height: 20px; } 

a[href$="/r/rockets"]:before,
a[href="/RocketsB"]:before,
.flair-RocketsC{ background-position: -290px -765px; min-width: 20px; height: 20px; } 

a[href$="/r/MiamiHurricanes"]:before,
a[href$="/r/miamihurricanes"]:before,
a[href$="/r/Miamihurricanes"]:before,
a[href="/Sebastian"]:before,
.flair-Sebastian{ background-position: -398px -420px; min-width: 26px; height: 25px; }

a[href="/Rony"]:before,
a[href="Seikaly"]:before,
.flair-Seikaly{ background-position: -402px -975px; min-width: 25px; height: 27px; }
.flair-Seikaly: hover{ text-indent: 27px;}

a[href="/SXF"]:before,
.flair-SXF{ background-position: -290px -835px; min-width: 34px; height: 20px; } 

a[href="/SouixFalls"]:before,
.flair-SouixFalls{ background-position: -290px -905px; min-width: 38px; height: 20px; } 

a[href="/Spo"]:before,
.flair-Spo{ background-position: -398px -490px; min-width: 19px; height: 25px; } 

a[href$="/r/NBASpurs"]:before,
a[href$="/r/NbaSpurs"]:before,
a[href="/Spurs"]:before,
.flair-Spurs{ background-position: -290px -975px; min-width: 16px; height: 20px; } 

a[href$="/r/Nbaspurs"]:before,
a[href$="/r/nbaspurs"]:before,
a[href="/SpursB"]:before,
.flair-SpursC{ background-position: -290px -1045px; width: 38px; height: 20px; } 

a[href="/SunSports"]:before,
.flair-SunSports{ background-position: -290px -1115px; width: 34px; height: 15px; } 

a[href$="/r/Suns"]:before,
a[href="/Suns"]:before,
.flair-Suns{ background-position: -290px -1180px; width: 21px; height: 20px; } 

a[href$="/r/suns"]:before,
a[href="/SunsB"]:before,
.flair-SunsC{ background-position: -290px -1250px; width: 24px; height: 20px; } 

a[href="/SuperSonics"]:before,
.flair-SuperSonics{ background-position: -400px -765px; min-width: 25px; height: 17px; } 

a[href="/SuperSonicsB"]:before,
.flair-SuperSonicsB{ background-position: -400px -835px; min-width: 22px; height: 20px; }

a[href="/TeamUSA"]:before,
.flair-TeamUSA{ background-position: -401px -560px; min-width: 17px; height: 20px; }

a[href$="/r/TimberWolves"]:before,
a[href="/T-Wolves"]:before,
.flair-T-Wolves{ background-position: -290px -1320px; min-width: 27px; height: 20px; } 

a[href="/TNT"]:before,
.flair-TNT{ background-position: -290px -1390px; width: 20px; height: 20px; } 

a[href$="/r/Thunder"]:before,
a[href$="/r/thunder"]:before,
a[href="/Thunder"]:before,
.flair-Thunder{ background-position: -290px -1460px; width: 30px; height: 20px; } 

a[href$="/r/Timberwolves"]:before,
a[href="/Timberwolves"]:before,
.flair-Timberwolves{ background-position: -290px -1530px; min-width: 19px; height: 20px; } 

a[href$="/r/timberwolves"]:before,
a[href="/TimberwolvesB"]:before,
.flair-TimberwolvesB{ background-position: -290px -1600px; min-width: 20px; height: 20px; } 

a[href="/UD"]:before,
.flair-UD{ background-position: -291px -1665px; min-width: 17px; height: 25px; } 

a[href$="/r/UMiami"]:before,
a[href$="/r/Umiami"]:before,
a[href$="/r/umiami"]:before,
a[href="/UM"]:before,
.flair-UM{ background-position: 0px -1960px; min-width: 33px; height: 20px; } 

a[href="/UF"]:before,
.flair-UF{ background-position: -85px -1960px; min-width: 15px; height: 20px; } 

a[href="/Wade"]:before,
.flair-Wade{ background-position: -290px -1738px; min-width: 19px; height: 25px; } 

a[href$="/r/Warriors"]:before,
a[href$="/r/warriors"]:before,
a[href="/Warriors"]:before,
.flair-Warriors{ background-position: -290px -1812px; min-width: 20px; height: 20px; } 

a[href="/Western"]:before,
a[href="/west"]:before,
.flair-Western{ background-position: -290px -1882px; min-width: 19px; height: 20px; } 

a[href="/WhiteHeat"]:before,
.flair-WhiteHeat{ background-position: -398px 0; min-width: 48px; height: 20px; } 

a[href="/WhiteHotHeat"]:before,
.flair-WhiteHotHeat{ background-position: -398px -210px; min-width: 20px; height: 20px; } 

a[href="/WhiteHotHeatB"]:before,
.flair-WhiteHotHeatB{ background-position: -398px -280px; min-width: 16px; height: 16px; } 

a[href$="/r/WashingtonWizards"]:before,
a[href$="/r/Washingtonwizards"]:before,
a[href="/Wizards"]:before,
.flair-Wizards{ background-position: -398px -70px; min-width: 30px; height: 20px; } 

a[href$="/r/washingtonwizards"]:before,
a[href="/WizardsB"]:before,
.flair-WizardsC{ background-position: -398px -140px; min-width: 16px; height: 20px; } 

/*Drop Down --------------------------------------------------------------------------------------------------------------------------------*/

.md blockquote {
border-left: 2px solid #369;
padding-left: 4px;
margin: 5px;
margin-right: 15px;
}

/*Comment Flairs
--------------------------------------------------------------------------------------------------------------------------*/
a[href="/Sixers"]:before,
a[href="/SixersB"]:before,
a[href="/ABC"]:before,
a[href="/Allen"]:before,
a[href="/Argentina"]:before,
a[href="/Battier"]:before,
a[href="/Beasley"]:before,
a[href="/Birdman"]:before,
a[href="/Bobcats"]:before,
a[href="/BobcatsB"]:before,
a[href="/Bosh"]:before,
a[href="/Bucks"]:before,
a[href="/BucksB"]:before,
a[href="/bulls"]:before,
a[href="/Bulls"]:before,
a[href="/Burnie"]:before,
a[href="/Cavs"]:before,
a[href="/CavsB"]:before,
a[href="/Celtics"]:before,
a[href="/CelticsB"]:before,
a[href="/Clippers"]:before,
a[href="/ClippersB"]:before,
a[href="/Cole"]:before,
a[href="/Dolphins"]:before,
a[href="/DolphinsB"]:before,
a[href="/Douglas"]:before,
a[href="/ESPN"]:before,
a[href="/Eastern"]:before,
a[href="/east"]:before,
a[href="/FIU"]:before,
a[href="/Flattop"]:before,
a[href="/Flattop2"]:before,
a[href="/Flattop3"]:before,
a[href="/Floridians"]:before,
a[href="/FloridiansPalm"]:before,
a[href="/FSU"]:before,
a[href="/Gators"]:before,
a[href="/Grizzlies"]:before,
a[href="/GrizzliesB"]:before,
a[href="/Hardaway"]:before,
a[href="/Hawks"]:before,
a[href="/HawksB"]:before,
a[href="/HEAT"]:before,
a[href="/Hornets"]:before,
a[href="/HornetsB"]:before,
a[href="/HornetsC"]:before,
a[href="/Heat"]:before,
a[href="/J-Ham"]:before,
a[href="/JJ"]:before,
a[href="/Jazz"]:before,
a[href="/JazzB"]:before,
a[href="/KaBoom"]:before,
a[href="/Kings"]:before,
a[href="/KingsB"]:before,
a[href="/Knicks"]:before,
a[href="/KnicksB"]:before,
a[href="/Lakers"]:before,
a[href="/LakersB"]:before,
a[href="/Larry"]:before,
a[href="/Larrys"]:before,
a[href="/Lebron"]:before,
a[href="/LelBron"]:before,
a[href="/LelWade"]:before,
a[href="/Lewis"]:before,
a[href="/MH"]:before,
a[href="/MiamiMLS"]:before,
a[href="/Magic"]:before,
a[href="/MagicB"]:before,
a[href="/Marlins"]:before,
a[href="/MarlinsB"]:before,
a[href="/Mavericks"]:before,
a[href="/MavericksB"]:before,
a[href="/Miami"]:before,
a[href="/MiamiHeat"]:before,
a[href="/Mourning"]:before,
a[href="/NBA"]:before,
a[href="/NBAb"]:before,
a[href="/NBAtv"]:before,
a[href="/Nbatv"]:before,
a[href="/nbatv"]:before,
a[href="/Nets"]:before,
a[href="/NetsB"]:before,
a[href="/NetsC"]:before,
a[href="/Nuggets"]:before,
a[href="/NuggetsB"]:before,
a[href="/Oden"]:before,
a[href="/Pacers"]:before,
a[href="/PacersB"]:before,
a[href="/Panthers"]:before,
a[href="/PanthersB"]:before,
a[href="/Pelicans"]:before,
a[href="/PelicansB"]:before,
a[href="/Pistons"]:before,
a[href="/PistonsB"]:before,
a[href="/Portland"]:before,
a[href="/PortlandB"]:before,
a[href="/Raptors"]:before,
a[href="/RaptorsB"]:before,
a[href="/RedHeat"]:before,
a[href="/RedHot"]:before,
a[href="/RedHotHeatB"]:before,
a[href="/RedHotHeat"]:before,
a[href="/Rio"]:before,
a[href="/Rockets"]:before,
a[href="/RocketsB"]:before,
a[href="/Russia"]:before,
a[href="/Sebastian"]:before,
a[href="/SXF"]:before,
a[href="/SouixFalls"]:before,
a[href="/Riley"]:before,
a[href="/Spo"]:before,
a[href="/SuperSonics"]:before,
a[href="/SuperSonicsB"]:before,
a[href="/Spurs"]:before,
a[href="/SpursB"]:before,
a[href="/SunSports"]:before,
a[href="/Suns"]:before,
a[href="/SunsB"]:before,
a[href="/TeamUSA"]:before,
a[href="/T-Wolves"]:before,
a[href="/TNT"]:before,
a[href="/Thunder"]:before,
a[href="/Timberwolves"]:before,
a[href="/TimberwolvesB"]:before,
a[href="/UD"]:before,
a[href="/UF"]:before,
a[href="/UM"]:before,
a[href="/Wade"]:before,
a[href="/Warriors"]:before,
a[href="/Western"]:before,
a[href="/west"]:before,
a[href="/WhiteHeat"]:before,
a[href="/WhiteHotHeat"]:before,
a[href="/WhiteHotHeatB"]:before,
a[href="/Wizards"]:before,
a[href="/WizardsB"]:before,
a[href$="/r/Sixers"]:before,
a[href$="/r/sixers"]:before,
a[href$="/r/CharlotteBobcats"]:before,
a[href$="/r/charlottebobcats"]:before,
a[href$="/r/MkeBucks"]:before,
a[href$="/r/mkebucks"]:before,
a[href$="/r/ChicagoBulls"]:before,
a[href$="/r/chicagobulls"]:before,
a[href$="/r/ClevelandCavs"]:before,
a[href$="/r/clevelandcavs"]:before,
a[href$="/r/BostonCeltics"]:before,
a[href$="/r/Bostonceltics"]:before,
a[href$="/r/bostonceltics"]:before,
a[href$="/r/LAClippers"]:before,
a[href$="/r/laclippers"]:before,
a[href$="/r/MiamiDolphins"]:before,
a[href$="/r/Miamidolphins"]:before,
a[href$="/r/miamidolphins"]:before,
a[href$="/r/MemphisGrizzlies"]:before,
a[href$="/r/memphisgrizzlies"]:before,
a[href$="/r/AtlantaHawks"]:before,
a[href$="/r/atlantahawks"]:before,
a[href$="/r/CharlotteHornets"]:before,
a[href$="/r/Charlottehornets"]:before,
a[href$="/r/charlottehornets"]:before,
a[href$="/r/Heat"]:before,
a[href$="/r/HEAT"]:before,
a[href$="/r/heat"]:before,
a[href$="/r/UtahJazz"]:before,
a[href$="/r/utahjazz"]:before,
a[href$="/r/Kings"]:before,
a[href$="/r/kings"]:before,
a[href$="/r/NYKnicks"]:before,
a[href$="/r/nyknicks"]:before,
a[href$="/r/Lakers"]:before,
a[href$="/r/lakers"]:before,
a[href$="/r/MiamiMLS"]:before,
a[href$="/r/miamimls"]:before,
a[href$="/r/OrlandoMagic"]:before,
a[href$="/r/orlandomagic"]:before,
a[href$="/r/LetsGoFish"]:before,
a[href$="/r/Letsgofish"]:before,
a[href$="/r/letsgofish"]:before,
a[href$="/r/Mavericks"]:before,
a[href$="/r/mavericks"]:before,
a[href$="/r/Miami"]:before,
a[href$="/r/miami"]:before,
a[href$="/r/MiamiHurricanes"]:before,
a[href$="/r/miamihurricanes"]:before,
a[href$="/r/Miamihurricanes"]:before,
a[href$="/r/UMiami"]:before,
a[href$="/r/Umiami"]:before,
a[href$="/r/umiami"]:before,
a[href$="/r/NBA"]:before,
a[href$="/r/Nba"]:before,
a[href$="/r/nba"]:before,
a[href$="/r/GoNets"]:before,
a[href$="/r/Gonets"]:before,
a[href$="/r/gonets"]:before,
a[href$="/r/DenverNuggets"]:before,
a[href$="/r/denvernuggets"]:before,
a[href$="/r/Pacers"]:before,
a[href$="/r/pacers"]:before,
a[href$="/r/FloridaPanthers"]:before,
a[href$="/r/floridapanthers"]:before,
a[href$="/r/NOLAPelicans"]:before,
a[href$="/r/nolapelicans"]:before,
a[href$="/r/DetroitPistons"]:before,
a[href$="/r/detroitpistons"]:before,
a[href$="/r/RipCity"]:before,
a[href$="/r/ripcity"]:before,
a[href$="/r/TorontoRaptors"]:before,
a[href$="/r/Torontoraptors"]:before,
a[href$="/r/torontoraptors"]:before,
a[href$="/r/Rockets"]:before,
a[href$="/r/rockets"]:before,
a[href$="/r/NBASpurs"]:before,
a[href$="/r/NbaSpurs"]:before,
a[href$="/r/Nbaspurs"]:before,
a[href$="/r/nbaspurs"]:before,
a[href$="/r/Suns"]:before,
a[href$="/r/suns"]:before,
a[href$="/r/Thunder"]:before,
a[href$="/r/thunder"]:before,
a[href$="/r/Timberwolves"]:before,
a[href$="/r/timberwolves"]:before,
a[href$="/r/Warriors"]:before,
a[href$="/r/warriors"]:before,
a[href$="/r/WashingtonWizards"]:before,
a[href$="/r/Washingtonwizards"]:before,
a[href$="/r/washingtonwizards"]:before{
    border: none !important;
    top: 20px;
    min-width: 20px;
    text-indent: 22px;
    vertical-align: middle;
    padding: -2px;
    background-image: url(%%spritesheet%%);
    display:inline-block;
    content: "";
}


                    /*Burnie Flair
                                -----------------------------------------------------------------*/
                                
                                .author[href$="/Burnie_Bot"]:after {
                                    position: relative;
                                    display: inline-block;
                                    width: 35px;
                                    height: 25px;
                                    right: -4px;
                                    bottom: -4px;
                                    margin-right: 2px;
                                    overflow: visible;
                                    content: " ";
                                    background-image: url(%%burnie%%);
                                }

/* Comment colors
--------------------------------------------------------------------------------------------------------------------------------------*/

.content .md h1 {
        text-shadow: 1px 1px 0px #000;
	color: #f5a12e;
	font-size: 30px!important;
        text-transform: uppercase;
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.content .md h2 {
	text-shadow: 1px 1px 0px #000;
	color: #98012e;
	font-size: 30px;
        text-transform: uppercase;
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    }
.content .md h3 {
        display: inline;
font-size: 20px;
font-weight: bold;
background: #f5a12e;
color: #98012e;
padding: 0 10px 0px 10px;
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    }
.content .md h4 {
text-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 40px rgba(216,5,110,0.6),0 0 60px rgba(216,5,110,0.6),0 0 0px rgba(216,5,110,0.6),0 0 20px rgba(216,5,110,0.6),0 0 70px rgba(216,5,110,0.6);
font-size: 30px;
font-weight: bold;
text-transform: capitalize;
color: #ea8044;
font-family: "Brush Script MT",cursive;
margin-left: 30px;
margin-top: 20px;
margin-bottom: 30px;
    }
.content .md h5 {
  	text-shadow:
	1px 1px 0 #f5a12e,
	1px 1px 0 #f5a12e, /* end of 2 level deep grey shadow */
	2px 2px 0 #444,
	3px 3px 0 #444; /* end of 4 level deep dark shadow */
	/* CSS3 Transition Effect */
	-webkit-transition: all 0.12s ease-out;		/* Safari & Chrome */
	-moz-transition: all 0.12s ease-out;		/* Firefox */
	-o-transition: all 0.12s ease-out;		/* Opera */
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
        font-size: 20px;
	letter-spacing: 5px;
        color: #98012e;
        text-align: left;
        text-transform: uppercase;
    }

.content .md h5:hover {
 	/* CSS3 Transform Effect */
  	-webkit-transform: scale(1.2);     /* Safari & Chrome */
  	-moz-transform: scale(1.2);        /* Firefox */
  	-o-transform: scale(1.2);          /* Opera */
  	-webkit-transform-origin: left;     /* Safari & Chrome */
  	-moz-transform-origin: left;        /* Firefox */
  	-o-transform-origin: left;          /* Opera */
}
.content .md h6 {
text-shadow: 0px -1px 4px white,0px 1px 10px yellow,0px -4px 20px #ff8000,0px -8px 40px red;
font-weight: bold;
color: #000;
font-family: "Arial Black","Arial Bold",Gadget,sans-serif;
font-size: 40px;
margin-top: 20px;
margin-left: 20px;
    }

/*  LINK FLAIR
-----------------------------------------------------------------------------------------------------------------------------------------*/
.link {
  padding: 8px 5px;
  margin-left: 10px;
  margin-bottom: 8px;
  margin-right: 315px;
  position: relative;
  background: transparent;
  transition: background 2s ease;
}
.single-page .link {
  padding: 10px 5px;
  margin-bottom: 0;
}

.link.odd{
     border: 1px solid #dcdcdc;
}

.link.even{
    border: 1px solid #dcdcdc;
}
    /* Link Hover Border */
        .link.odd:hover{border:1px solid #98012e; border-right: 5px solid #98012e;}
        .link.even:hover{border: 1px solid #f5a12e; border-right: 5px solid #f5a12e;}

.linkflairlabel {
	padding: 0px 6px 1px 6px;
	height: auto;
	color: #333;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	font-size: 13px;
	font-family: Tahoma, Arial, sans-serif;
	cursor: default;
	vertical-align: middle;
	-webkit-transition: width .7s;
    -moz-transition: width .7s;
    transition: width .7s;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    transition-delay: 0;
}

.linkflairlabel.link:hover{
    width:auto;-webkit-transition-delay: .1s;-moz-transition-delay: .1s;transition-delay: .1s;
}

#siteTable  > div.thing {
	position: relative;
	overflow: visible !important;
        z-index: 10;

}

#siteTable  > div.thing p.title .linkflairlabel {
    display: none;
	position: absolute;
	right: 0px;
	top: 0px;
	margin-right: 0px;
}

#siteTable  > div.thing:hover p.title .linkflairlabel {
	display: block;
}

.linkflair-mod .linkflairlabel {
	background-color: #5fb04d;
	border: 1px solid #4c8d3e;
	color: #fff;
}

	.linkflair-mod a {color: #4c8d3e !important;}

.linkflair-throwback .linkflairlabel {
	background-color: #FB4F14;
	border: 1px solid #d03e32;
	color: #fff;
}

.linkflair-recap .linkflairlabel {
	background-color: #015679;
	border: 1px solid #0172a0;
	color: #fff;
}

.linkflair-postgame .linkflairlabel {
	background-color: #f5a12e;
	border: 1px solid #f5a12e;
	color: #98012e;
}
.linkflair-twitter .linkflairlabel {
	background-color: #98012e;
	border: 1px solid #98012e;
	color: #FFFFFF;
}

.linkflair-prediction .linkflairlabel {
	background-color: #FC8EAC;
	border: 1px solid #228822;
	color: #fff;
}

.linkflair-freetalk .linkflairlabel {
	background-color: #000;
	border: 1px solid #000;
	color: #fff;
}

.linkflair-gamethread .linkflairlabel {
	background-color: #98012e;
	border: 1px solid #98012e;
	color: #f5a12e;
}

.linkflair-contest .linkflairlabel {
	background-color: #e5e4e2;
	border: 1px solid #cdcac8;
	color: #000;
}
#98012e

#siteTable > .thing.linkflair-contest {
	border-right: 5px solid #e5e4e2 !important;
}

#siteTable > .thing.linkflair-mod {
	border-right: 5px solid #5fb04d !important;
}

#siteTable > .thing.linkflair-prediction {
	border-right: 5px solid #FC8EAC !important;
}

#siteTable > .thing.linkflair-recap {
	border-right: 5px solid #015679 !important;
}

#siteTable > .thing.linkflair-postgame {
	border-right: 5px solid #f5a12e !important;
}

#siteTable > .thing.linkflair-throwback {
	border-right: 5px solid #FB4F14 !important;
}

#siteTable > .thing.linkflair-freetalk {
	border-right: 5px solid #000!important;
}

#siteTable > .thing.linkflair-gamethread {
	border-right: 5px solid #98012e !important;
}

    /*Link Flair color hovers */
        .thing.linkflair-mod.link{background:transparent;transition: background 1s ease;}
        .thing.linkflair-mod.link:hover{background:#C5E3BF;}

        .thing.linkflair-throwback.link{background:transparent;transition: background 1s ease;}
        .thing.linkflair-throwback.link:hover{background:#fc9572;}

        .thing.linkflair-recap.link{background:transparent;transition: background 1s ease;}
        .thing.linkflair-recap.link:hover{background:#6ECFF6;}

        .thing.linkflair-prediction.link{background:transparent;transition: background 1s ease;}
        .thing.linkflair-prediction.link:hover{background:#fdc6d5;}

        .thing.linkflair-freetalk.link{background:transparent;transition: background 1s ease;}
        .thing.linkflair-freetalk.link:hover{background:#a7a7a7;}

        .thing.linkflair-gamethread.link{background:transparent;transition: background 1s ease;}
        .thing.linkflair-gamethread.link:hover{background:#c16681;}

        .thing.linkflair-contest.link{background:transparent;transition: background 1s ease;}
        .thing.linkflair-contest.link:hover{background:#e5e4e2;}
        
        .thing.linkflair-postgame.link{background:transparent;transition: background 1s ease;}
        .thing.linkflair-postgame.link:hover{background:#f9c681;}
        
        
            .listing-page .linklisting .thing.linkflair-mod:hover{border-left: 5px #4c8d3e solid!important; border:1px solid #4c8d3e;}
            .listing-page .linklisting .thing.linkflair-throwback:hover{border-left: 5px #FB4F14 solid!important; border: 1px solid #FB4F14;}
            .listing-page .linklisting .thing.linkflair-recap:hover{border-left: 5px #015679 solid!important; border: 1px solid #015679;}
            .listing-page .linklisting .thing.linkflair-postgame:hover{border-left: 5px #f5a12e solid!important; border: 1px solid #f5a12e;}
            .listing-page .linklisting .thing.linkflair-prediction:hover{border-left: 5px #FC8EAC solid!important; border: 1px solid #FC8EAC;}
            .listing-page .linklisting .thing.linkflair-freetalk:hover{border-left: 5px #000 solid!important; border: 1px solid #000;}
            .listing-page .linklisting .thing.linkflair-freetalk:hover{border-left: 5px #000 solid!important; border: 1px solid #000;}
            .listing-page .linklisting .thing.linkflair-contest:hover{border-left: 5px #e5e4e2 solid!important; border: 1px solid #e5e4e2;}

/*How to change your mail icons
--------------------------------------------------------------------------------------------------------------------------------------------------*/

#mail {
position: relative;
display: inline-block;
text-indent: -9999px;
overflow: hidden;
width: 16px; /*These values for the standard mail icon, customize to your own*/
height: 18px;}

#mail.havemail {
    background:url(%%spritesheet%%);
    background-repeat: no-repeat;
    height: 0px;
    padding-left: 0px;
    padding-top: 1px;
    width: 0px;
    background-position: -290px -560px; width: 14px; height: 15px;
}

#mail.nohavemail {
    background:url(%%spritesheet%%);
    background-repeat: no-repeat;
    height: 0px;
    padding-left: 0px;
    padding-top: 1px;
    width: 0px;
    background-position: -398px -280px; width: 16px; height: 16px;
}

/* Sidebar Calendar
                   -------------------------------------------------------------------------------------------------------------------------------------*/

.side table:nth-of-type(1) td {
  width: 14%;
  vertical-align: top;
  padding: 0;
  text-align: center;
  position: relative;
}
.side table:nth-of-type(1) td sup {
  display: block;
  text-align: left;
  padding: 2px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 10px;
}
.side table:nth-of-type(1) td em,
.side table:nth-of-type(1) td strong {
  font-weight: normal;
  font-style: normal;
  display: block;
  padding: 0 0 4px;
}
/* Away games */
.side table:nth-of-type(1) td em {
  background: #dadada;
}
.side table:nth-of-type(1) td a {
  display: block;
  width: 30px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.side table:nth-of-type(1) td a[title^="Won"] {
  border-bottom: 3px solid #98012e;
}
.side table:nth-of-type(1) td a[title^="Lost"] {
  border-bottom: 3px solid #f5a12e;
}

/* Thumbnail
            ----------------------------------------------------------------------------------------------------------------------------*/

.thumbnail {
    max-height: 70px;
    max-width: 70px;
    border-radius: 15px;
}

.thumbnail img,.thumbnail.self {
    background: url(%%MiamiHeat%%);
    padding-left: -5px;
    width:70px;
    height:70px;
    background-position: -193px 0px;
}
.thumbnail.default {
    background:url(%%MiamiHeat%%);
    padding-left: 0px;
    width:70px;
    height:70px;
    background-position: -193px -73px;
    border-radius: 15px;
}

.linkflair-postgame .thumbnail {
    width: 70px !important;
    height: 70px !important;
    background-image: url(%%MiamiHeat%%);
    background-position: -193px -143px;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.linkflair-gamethread .thumbnail {
    width: 70px !important;
    height: 70px !important;
    background-image: url(%%MiamiHeat%%);
    background-position: -193px -213px;
    background-repeat: no-repeat;
    border-radius: 15px;
}

/* Expand post */
 .expando-button {
    margin: 0px 5px 0px 0px !important;
    width: 33px !important;
    height: 32px !important;
    max-width: 33px !important;
    max-height: 32px !important;
    background-color: transparent !important;
    background-image: url(%%MiamiHeat%%) !important;
    cursor: pointer;
}
/*  +  */
 .content .expando-button.selftext.collapsed {
    background-position: -272px 0px;
}
/*  -  */
 .content .expando-button.selftext.expanded {
    background-position:-304px 0px;
}
.expando-button.video.collapsed {
    background-position: -272px -64px!important;
}
.expando-button.video.expanded, .eb-ve {
    background-position: -304px -64px!important;
}
.res .expando-button.image.collapsed, .expando-button.image.gallery.collapsedExpando, .expando-button.image.collapsedExpando {
    background-position: -272 -32px!important;
}
.res .expando-button.image.expanded {
    background-position: -304px -32px!important;
}

.res_post_ups {
color: #98012e !important;
font-weight: normal;
}

.res_post_downs {
color: #f5a12e !important;
font-weight: normal;
}

.res_comment_ups {
color: #98012e !important;
font-weight: normal;
}

.res_comment_downs {
color: #f5a12e !important;
font-weight: normal;
}

 /* Distinguish Mod Comment
            ----------------------------------------------------------------------------------------------------------------------------*/

.comment .moderator ~ .userattrs:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: pink;
    
    z-index: -1;
}
.comment { position: relative; z-index: 1; }

.nestedlisting { overflow: hidden; }

/* Coding for Gold Users
                       ------------------------------------------------------------------------------------------------------------------*/
                       
.new-comment .usertext-body {
    background-color: #c16681;
    border: solid 1px #f5a12e;
}


.sidecontentbox a.helplink {
    display: block;
    float: none;
    width: 250px;
    height: 12px;
    background: #f5a12e;
    transition: background 0.5s ease;
    text-align:center;
    color: white;
    padding: 4px;
    font-weight:large;
    text-transform: uppercase;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
}

/* Login form
------------------------------------- */
.login-form-side {
  margin-top: 5px;
  background: #F5F5F5;
  border: none;
}
.login-form-side input[type="text"], 
.login-form-side input[type="password"] {
  width: 138px;
  background: #F5F5F5;
  border: none;
}
.login-form-side #remember-me {
  margin-top: 2px;
  margin-left: 6px;
}
.login-form-side a {
  color: #78012e!important;
}
.login-form-side .submit {
  margin-top: 5px;
  margin-right: 5px;
}
/* Message the mods
                       ------------------------------------------------------------------------------------------------------------------*/
.sidecontentbox a.helplink:hover { background-color: #dc9029;}

    /*----Related Subreddits----*/
.md ol:last-of-type li { margin-bottom: 12px; }
a[href="http://nba.reddit.com"], a[href="http://miamidolphins.reddit.com"], a[href="http://letsgofish.reddit.com"], a[href="http://floridapanthers.reddit.com"], a[href="http://miamimls.reddit.com"], a[href="http://miamihurricanes.reddit.com"] 
    {
    display: inline-block;
    height: 50px;
    width: 100px;
    background: url(%%MiamiHeat%%);
    }
a[href="http://nba.reddit.com"] { background-position: -81px -300px; transition: all 0.3s ease-out;}
a[href="http://miamidolphins.reddit.com"] { background-position: -81px 0; transition: all 0.3s ease-out;}
a[href="http://letsgofish.reddit.com"] { background-position: -81px -200px; transition: all 0.3s ease-out;}
a[href="http://floridapanthers.reddit.com"] { background-position: -81px -400px; transition: all 0.3s ease-in;}
a[href="http://miamimls.reddit.com"] { background-position: -81px -100px; transition: all 0.3s ease-in;}
a[href="http://miamihurricanes.reddit.com"] { background-position: -81px -500px; transition: all 0.3s ease-in;}

	/* HOVER EFFECT*/
			a[href="http://nba.reddit.com"]:hover { background-position: -81px -350px!important; transition: all 0.3s ease-out; }
			a[href="http://miamidolphins.reddit.com"]:hover { background-position: -81px -50px!important; transition: all 0.3s ease-out; }
		    a[href="http://letsgofish.reddit.com"]:hover { background-position: -81px -250px!important; transition: all 0.3s ease-out; }
		    a[href="http://floridapanthers.reddit.com"]:hover { background-position: -81px -450px!important; transition: all 0.3s ease-in; }
		    a[href="http://miamimls.reddit.com"]:hover { background-position: -81px -150px!important; transition: all 0.3s ease-in; }
		    a[href="http://miamihurricanes.reddit.com"]:hover { background-position: -81px -550px!important; transition: all 0.3s ease-in; }
		    
@-webkit-keyframes link {
    from { background-position: 0 0px; }
    to { background-position: 0 -400px; }
}

@-moz-keyframes link {
    from { background-position: 0 0px; }
    to { background-position: 0 -400px; }
}

@keyframes link {
    from { background-position: 0 0px; }
    to { background-position: 0 -400px; }
}

a[href="http://www.reddit.com/r/heatCSS/submit"]{
    display: inline-block;
    height: 50px;
    width: 64px;
    background: url(%%link%%);
    margin-left: -65px;
    }
a[href="http://www.reddit.com/r/heatCSS/submit"]:hover {background-position:0 auto;  -webkit-animation: link 1s steps(8, end) infinite; -moz-animation: link 1s steps(8, end) infinite;animation: link 1s steps(8, end) infinite;
}
		    
@-webkit-keyframes scribble {
    from { background-position: 0 0px; }
    to { background-position: 0 -600px; }
}

@-moz-keyframes scribble {
    from { background-position: 0 0px; }
    to { background-position: 0 -600px; }
}

@keyframes scribble {
    from { background-position: 0 0px; }
    to { background-position: 0 -600px; }
}
		    
a[href="http://www.reddit.com/r/heatCSS/submit?selftext=true"]{
    display: inline-block;
    height: 50px;
    width: 64px;
    background: url(%%pencil%%);
    margin-top: -30px;
    margin-left:65px;
    }
a[href="http://www.reddit.com/r/heatCSS/submit?selftext=true"]:hover {background-position:0 auto;  -webkit-animation: scribble 1s steps(12, end) infinite; -moz-animation: scribble 1s steps(12, end) infinite;animation: scribble 1s steps(12, end) infinite;
}

.submit .morelink a {font-size:0; content: '';}

.morelink,
.morelink:hover {
    border: 0;
    background: none;
}
.nub {
    display: none;
}

.sidebox.submit.submit-text:before,.sidecontentbox .title:before{display:block;position:absolute;font-size:12px;font-weight:bold;height:25px;color:#E1E1E1;background:#000;line-height:25px;text-align:center;text-transform:uppercase;-webkit-border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-topleft:3px;-moz-border-radius-bottomleft:3px;border-top-left-radius:3px;border-bottom-left-radius:3px;}.sidebox.submit.submit-text:before{content:"^^Submit^^";margin-top:22px;margin-left:84px;width:130px;}

/* Slide-in self posts 
--------------------------------------------------------------------------------------------------------------------------------------------------*/

.self .entry {
    position: relative;
    z-index: 1;
    background: transparent;
}
.comments-page .self .entry {
    position: static;
}
.self .expando-button ~ .expando {
    display: block!important;
    max-height: 0;
    margin: 0;
    overflow: hidden;
}
.self .expando-button ~ .expando .usertext {
    position: relative;
    overflow: hidden;
    display: none;
    vertical-align:middle;
}
.self .expanded ~ .expando .usertext {
    display: block;
}
.self .expanded ~ .expando {
    max-height: none;
    margin: .5em 0;
    overflow: visible;
}
.self .expando-button ~ .expando .usertext-body {
    position: relative;
    top: -100px;
}
.self .expanded ~ .expando .usertext-body {
    -webkit-animation: 700ms exp forwards;
    -moz-animation: 700ms exp forwards;
    animation: 700ms exp forwards;
}
@-webkit-keyframes exp {
    0%   { top: -200px; opacity: 0; }
    50%  { top: 0; }
    100% { top: 0; opacity: 1; }
}
@-moz-keyframes exp {
    0%   { top: -200px; opacity: 0; }
    50%  { top: 0; }
    100% { top: 0; opacity: 1; }
}
@keyframes exp {
    0%   { top: -200px; opacity: 0; }
    50%  { top: 0; }
    100% { top: 0; opacity: 1; }
}

/* Show replies size 
--------------------------------------------------------------------------------------------------------------------------------------------------*/

.comment .showreplies {
    display: block;
    margin-top: 7px;
    margin-bottom: 15px;
    padding: 5px;
    font-size:medium;
}

/*RES Tagging
--------------------------------------------------------------------------------------------------------------------------------------------------*/

#userTaggerToolTip {

z-index: 1; }

/*Announcement Bar Ticker
                 ---------------------------------------------------------------------------------------------------------------------------------*/
.titlebox .usertext-body .md h6 strong {
    display: block;
    text-indent: 0;
    -webkit-animation: ticker 78s linear infinite;
    -moz-animation: ticker 78s linear infinite;
    animation: ticker 78s linear infinite;
    white-space: nowrap;
}
@-webkit-keyframes ticker {
     0% { text-indent: 0; } 
    85% { opacity: 1; text-indent: -5225px; } 
    86% { opacity: 0; text-indent: -5225px; } 
    90% { text-indent: 0; opacity: 0; } 
    95% { opacity: 0; } 
    100% { opacity: 1; } 
}
@-moz-keyframes ticker {
     0% { text-indent: 0; } 
    85% { opacity: 1; text-indent: -5225px; } 
    86% { opacity: 0; text-indent: -5225px; } 
    90% { text-indent: 0; opacity: 0; } 
    95% { opacity: 0; } 
    100% { opacity: 1; } 
}

@keyframes ticker { 
    0% { text-indent: 0; } 
    85% { opacity: 1; text-indent: -5225px; } 
    86% { opacity: 0; text-indent: -5225px; } 
    90% { text-indent: 0; opacity: 0; } 
    95% { opacity: 0; } 
    100% { opacity: 1; } 
}

.titlebox .usertext-body .md h6 strong:hover {
    display: block;
    text-indent: 0;
    -webkit-animation-play-state: paused; /* Safari and Chrome */
    animation-play-state: paused;
}

.sprite {
    background-image: url(%%mario%%);
    background-repeat: no-repeat;
    display: block;
}

.sprite-frame-001 {
    width: 80px;
    height: 80px;
    background-position: -5px -5px;
}

.sprite-frame-002 {
    width: 80px;
    height: 80px;
    background-position: -95px -5px;
}

.sprite-frame-003 {
    width: 80px;
    height: 80px;
    background-position: -185px -5px;
}


.flair-mario {
    border: 0;
    padding: 0;
    height: 80px;
    width: 80px;   
    background: url(%%mario%%);
    -webkit-animation: mario 1s steps(2) infinite;
    animation: mario 1s steps(2) infinite;
}
@-webkit-keyframes mario{
    from { background-position: -5px -5px;  }
    to { background-position: -185px -5px;  }
}

@-moz-keyframes mario{
    from { background-position: 0 0;  }
    to { background-position: -118px -1px;  }
}

@-ms-keyframes mario{
    from { background-position: 0 0;  }
    to { background-position: -118px -1px;  }
}



.side .md [href*="search?q=flair"] {
    display: inline-block;
    position: relative;
    min-width: 90px;
    margin-top: 4px;
    padding: 2px;
    font-weight: bold;
    text-align: center;
}

.side .md [href*='search?q=flair%3A%27Game%20Thread'] {
	background-color: #f5a12e;
	border: 1px solid #f5a12e;
	color: #98012e;
   text-shadow: -1px 1px 1px black;
}
.side .md [href*='search?q=flair%3A%27Free%20Talk%20Friday'] {
	background-color: #000;
	border: 1px solid #000;
	color: #fff;
   text-shadow: -1px 1px 1px black;
}
/*
#header .tabmenu [href$="/ads/"] {
    visibility: hidden;
    width: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
}
html:lang(re) .link:not(.linkflair-mod) {
    display: none    }
*/